{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/small_lo.png' %}?v=2">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/small_lo.png' %}?v=2">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/small_lo.png' %}?v=2">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/small_lo.png' %}?v=2">
    <link rel="icon" href="{% static 'images/small_lo.png' %}?v=2">
    
    <title>{% block title %}SegriTech{% endblock %}</title>
    
    <!-- CSS Files -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/aos.css' %}">
    <link rel="stylesheet" href="{% static 'css/superclasses.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/mobile.css' %}">
    
    {% block extra_css %}{% endblock %}
</head>
<body>
    {% include 'includes/navigation.html' %}
    
    <div class="loader-mask">
        <div class="loader">
            <div></div>
            <div></div>
        </div>
    </div>

    {% block content %}{% endblock %}

    {% include 'includes/footer.html' %}
    
    <!-- Scripts -->
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.js' %}"></script>
    <script src="{% static 'js/aos.js' %}"></script>

    <script>
        // Initialize AOS
        AOS.init();

        // Loader
        $(window).on('load', function(){ 
            $('.loader').fadeOut();
            $('.loader-mask').delay(350).fadeOut('slow');
        });

        // Body loaded class
        window.addEventListener('load', function(){
            document.querySelector('body').classList.add("loaded");
        });
    </script>
    
    {% block extra_js %}{% endblock %}
</body>
</html> 